html, body {
    height: 100%;
    margin: 0;
}

circle {
    stroke: #000;
    stroke-width: 1px;
    cursor: move;
}

path, line {
    fill: transparent;
    stroke: #000;
}

svg {
    background-color: #ccc;
    margin: 0.8em;
}