@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&family=Rubik:wght@400;700&display=swap');

:root {
    --primary-color: #09d676;
    --secondary-color: #b0d609;
    --link-color: #055831;
}

html {
    background-color: var(--primary-color);
}

body {
    max-width: 800px;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    background-color: #fff;
    padding: 1em;
    min-height: 100%;
}

a, a:link, a:visited {
    color: var(--link-color);
}

a:hover, a:active {
    color: var(--secondary-color);
}

img {
    max-width: 100%;
}

.open-solution-button {
    padding: .5rem;
    text-decoration: none;
    color: white !important;
    background-color: var(--primary-color);
    border-radius: .3rem;
    transition: box-shadow .3s ease-in-out;
    box-shadow: none;
    display: inline-flex;
}

.open-solution-button:hover {
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

.open-solution-button:before {
    display: block;
    content: ' ';
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    left: 0.5rem;
    filter: invert(100%);
    margin-right: .25rem;
}

.open-solution-button:before {
    background-image: url('./eye-icon.svg');
}